<html>
<head>
<title>{% block title %}TEAM.tasyon{% endblock %}</title>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <!-- hamburger menu -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('home') }}">TEAM.tasyon</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {% block menu %}
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="{{ url_for('home') }}">Home</a>
            </li>
            <li>
                <a href="{{ url_for('feeds') }}">View Feeds</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
        </ul>
        {% endblock %}
    </div>
</nav>

<section class="main">
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
</section>

</body>
</html>