{% extends 'base_layout.html' %}
{% block title %}Feeds{% endblock %}

{% block body %}
<h1>Feeds</h1>

{%  if feeds %}
<ul>
	{% for feed in feeds %}
	<li>
		<a href="{{ url_for('feeds', uid=feed.id)}}">{{ feed.title }}</a>
	</li>
	{% endfor %}
</ul>
{% endif %}
{% endblock %}

 {% block menu %}
        <ul class="nav navbar-nav">
            <li >
                <a href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="active">
                <a href="{{ url_for('feeds') }}">View Feeds</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
        </ul>
{% endblock %}